			*{
				margin: 0;
				padding: 0;
			}
			.mui-bar{
				background-color: black;
			}
			.backimg {
				width: 30px;
				margin-top: 5px;
				float: left;
			}
			header a{
				color: white;
				margin-top: 3px;
				float: left;
				padding-right: 5px;
				line-height: 38px;
			}
			.mui-title{
				color: white;
			}
			.moreimg {
				display: block;
				float: right;
				width: 30px;
				margin-top: 6px;
			}
			
			.userphotoimg {
				width: 3rem;
				border-radius: 5px;
			}
			.userspan {
				display: inline-block;
				margin-top: 10px;
				font-size: 0.8rem;
				letter-spacing: -1px;
			}
			.mylabel{
				font-size: 0.8rem;
				opacity: 0.5;
			}
			.playerimg {
				width: 0.8rem;
				height: 0.8rem;
				vertical-align: middle;
				margin-bottom: 3px;
				margin-left: 0.2rem;
			}
			.agencyimg {
				width: 0.8rem;
				height: 0.8rem;
				vertical-align: middle;
				margin-bottom: 3px;
				margin-left: 0.2rem;
			}
			.delectbtn {
				float: right;
				color: white;
				width: 3rem;
				text-align: center;
				height: 30px;
				line-height: 30px;
				border: 1px solid #FF867F;
				background-color: #FF867F;
				border-radius: 5px;
				margin-top: -25px;
				font-size: 0.8rem;
			}
			.agreebtn {
				float: right;
				color: white;
				margin-right: 10px;
				width: 3rem;
				text-align: center;
				height: 30px;
				line-height: 30px;
				background-color: #57CB44;
				border: 1px solid #57CB44;
				border-radius: 5px;
				margin-top: -25px;
				font-size: 0.8rem;
			}